<h1>Login User</h1>

<form action="<%= sessions_url %>" method="POST">
  <%= auth_token %>
  <label>
    Username:
    <input type="text" name="user[username]">
  </label>
  <label>
    Password:
    <input type="password" name="user[password]">
  </label>
  <button type="submit">Log in!</button>
</form>